.slide-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.carousel-image-container {
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-carousel-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
img {
  background-color: white;
  border-radius: 10%;
}

.carousel-controls {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.link-remove {
  font-size: 1.5rem;
}
