/* Stile personalizzato per la card */
body {
  background-color: var(--color-accent);
}
.custom-card {
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 80%;
  background-color: var(--color-bg-form); //var(--color-text);
  border: 3px solid var(--color-accent);
  border-radius: 3rem;
  box-shadow: 0 0 20px 10px blue;

  .card-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #343a40; //var(--color-bg);
  }
}

.custom-card .card-subtitle {
  font-size: 1.1rem;
  color: #6c757d; //var(--color-bg);
}

.custom-card .list-group {
  border-top: 2px solid var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.custom-card .list-group-item {
  font-size: 1.05rem;
  background-color: transparent;
  border: none;
  padding-left: 0;
  color: #2f3b35; // var(--color-bg);
}

.avatar-wrapper {
  display: flex;
  align-items: flex-start; /* o center se vuoi centrarlo verticalmente */
  justify-content: center;
  width: 100%;
  max-width: 300px; /* dimensione massima avatar */
}

.avatar {
  width: 100%;
  aspect-ratio: 1 / 1; /* sempre quadrato */
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--color-accent);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 576px) {
  .avatar-wrapper {
    max-width: 140px;
  }
}


.avatar:hover {
  transform: scale(1.05);
}


.my-button-section {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .action-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-accent);
    background-color: var(--color-bg);
    transition: all 0.3s ease;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 2px solid var(--color-accent);
      transition: all 0.3s ease;
      border-color: transparent;
    }

    &::before {
      top: 0;
      left: 0;
      border-bottom: none;
      border-right: none;
    }

    &::after {
      bottom: 0;
      right: 0;
      border-top: none;
      border-left: none;
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
      border-color: var(--color-accent);
    }

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-bg);
    }
  }
}

