<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{urlLogo}}">
      {{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      @for (item of navbarLinks; track $index) {
        <li class="nav-item"><a class="nav-link active" aria-current="page" href={{item.value}}> {{item.label}}</a></li>
      }
<li>  <app-dropdown [title] = "dropdownTitle" [items] = "dropdownItems"></app-dropdown>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>

    <form class="d-flex flex-column flex-sm-row align-items-center gap-2" role="search">
      <input
        class="form-control me-sm-2"
        type="search"
        placeholder="Cerca ricette..."
        aria-label="Search"
      />

      <div class="d-flex flex-column flex-sm-row gap-2 w-100 w-sm-auto">
        <button class="btn btn-outline-success" type="submit">Cerca</button>
        <button class="btn btn-outline-secondary" type="button">Filtra</button>
      </div>
    </form>


  </div>
</nav>
