.btn-ai-mini {
  //  background-color: transparent;
  //  color: var(--color-ai);
  background-color: var(--color-ai);
  color: var(--color-bg);
  border: 1px solid var(--color-ai);
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover:not(:disabled) {
    //    background-color: var(--color-ai);
    background-color: var(--color-ai-hover);
    color: var(--color-bg);
    box-shadow: 0 2px 5px rgba(109, 89, 122, 0.3);
  }

  &:disabled {
    border-color: var(--color-ai);
    color: var(--color-text-muted);
    cursor: not-allowed;
  }
}
