/* recipe-form.scss */
body {
  background-color: var(--color-bg); // colore chiaro-verde, ad esempio
}
/* Stile personalizzato per la card */
.custom-card {
  margin-top: 3%;
  margin-bottom: 3%;
  max-width: 800px;
  background-color: var(--color-bg-form);
  border: 3px solid var(--color-accent);
  border-radius: 3rem;
  box-shadow: 0 0 20px 10px blue;
}

/* Stile titolo */
.custom-title {
  color: var(--color-accent);
}

/* Stile input personalizzato */
.custom-input input {
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
}

.custom-input input:focus {
  color: darkolivegreen;
  box-shadow: 0 0 0 0.2rem rgba(13,110,253,0.25);
}

input.ng-invalid:focus,
select.ng-invalid:focus,
textarea.ng-invalid:focus {
  transform: scale(1.1);
}



.slider-group {
  background-color: #f8f9fa;
  border: 2px solid #ced4da;
  border-radius: 1.5rem;
  padding: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

/* Divider sottile tra i due slider */
.group-separator {
  border: none;
  border-top: 2px solid var(--color-border);
  margin: 1.5rem 0;
}

app-submit-button {
  --btn-font-size: 1.1rem;
  width: 80%;
  display: block;
  margin-inline: 10%;
}
