.friend-requests {

  h2 {
    color: var(--color-accent);
    font-weight: 700;
  }

  .requests-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .requests-section {
    background: var(--color-bg-form);
    border: 3px solid var(--color-accent);
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0 5px 15px rgba(69, 122, 104, 0.1);

    h3 {
      text-align: center;
      margin-bottom: 1.5rem;
      color: var(--color-accent-hover);
      font-weight: 600;
    }

    .request-list {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    .request-card {
      display: flex;
      align-items: center;
      background-color: var(--color-bg);//#fff;
      border-radius: 1rem;
      padding: 1rem;
      transition: transform 0.2s ease, box-shadow 0.2s ease;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 15px var(--color-accent-hover);
      }

      .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;
        border: 3px solid var(--color-bg);
      }

      .info {
        flex: 1;

        .username {
          font-weight: 700;
          font-size: 1.25rem;
          color: var(--color-accent);

          a {
            color: inherit;
            text-decoration: none;

            &:hover {
              color: var(--color-accent-hover);
            }
          }
        }

        .status {
          color: var(--color-text-muted);
          font-size: 0.9rem;
        }

        .accept-btn {
          background-color: var(--color-accent);
          color: var(--color-bg);
          border: none;
          border-radius: 1rem;
          padding: 0.4rem 1rem;
          font-weight: 500;
          cursor: pointer;
          transition: background 0.3s ease;

          &:hover {
            background-color: var(--color-accent-hover);
          }
        }
        .decline-btn {
          margin-inline: 2%;
          background-color: var(--color-accent);
          color: var(--color-bg);
          border: none;
          border-radius: 1rem;
          padding: 0.4rem 1rem;
          font-weight: 500;
          cursor: pointer;
          transition: background 0.3s ease;

          &:hover {
            background-color: var(--color-accent-hover);
          }
        }
      }
    }
  }
}
