.card.custom-shadow {
  border: none;
  box-shadow: 0 0 20px 5px rgba(0, 111, 55, 0.25);
  background-color: var(--color-bg-form);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  line-height: 1.3;

  &:hover {
    box-shadow: 0 0 25px 7.5px rgba(0, 111, 55, 0.35);
  }
}

.card {
  width: 100%;
  border-radius: 0.75rem;
  background-color: var(--color-bg-form);

  .card-title {
    font-size: 1.75rem;
    font-weight: 600;
    a {
      color: var(--color-text);
      text-decoration: none;
      &:hover {
        color: var(--color-accent-hover);
      }
    }
  }

  .card-text {
    text-transform: lowercase;
    font-size: 1.1rem;
    color: var(--color-text-muted);
  }

  .fav-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;

    &:hover {
      background: #ffe6e6;
      transform: scale(1.1);
    }

    &.active {
      background: #ffcccc;
      color: #c33;
    }
  }
  .card-image-wrapper {
    box-shadow: 0 0 20px 7.5px var(--color-bg);
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 1rem;
  }

  .recipe-random-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: background 0.2s ease, transform 0.35s ease;
    object-position: center;
  }
  &:hover .recipe-random-img {
    transform: scale(1.05);
  }

  .rating-badge {
    margin-top: -10px;
    margin-bottom: -10px;
  }

}

.star {
  color: var(--color-accent);
  font-size: 1.25rem;
  font-weight: bold;
}
