.author-card-carousel {
  width: 25%;
  padding: 2%;
}

@media (max-width: 768px) {
  .author-card-carousel {
    width: 240px;
  }
}

@media (max-width: 576px) {
  .author-card-carousel {
    width: 100%;
  }
}


.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-form);
  border: 2px solid var(--color-accent);
  border-radius: 1.5rem;
  padding: 2rem 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  .avatar {
    width: 70%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--color-bg);
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
  }

  .user-name {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--color-accent);
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 10px 5px rgba(69, 122, 104, 0.3);
    border-color: var(--color-accent);
  }
}
a {
  text-decoration: none;
}
