$active-color: var(--floating-color, var(--color-accent));
label {color:$active-color}
span {color: $active-color}
.form-select:not(.is-invalid):focus {
  border-color: $active-color !important;
  box-shadow: 0 0 0 0.25rem color-mix(in srgb, $active-color, transparent 75%) !important;
}
option:hover {
  border-color: $active-color !important;
  background-color: color-mix(in srgb, $active-color, transparent 75%) !important;
}
