.btn-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--color-accent);
  color: var(--color-bg);
  border: none;
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
  margin-top: 0.5rem;
//  border-radius: 50%;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
//  font-size: 1.3rem;
  box-shadow: -1px 4px 8px rgba(0,0,0,0.3);
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease;

  i {
    margin-right: 0.3rem;
  }
  &:hover {
    background-color: var(--color-accent-hover);
    transform: translateY(-3px);
  }
}
