<div
  class="dropdown"
  [ngClass]="{
          'btn-group dropup': placement === 'top',
          'btn-group dropstart': placement === 'left',
          'btn-group dropend': placement === 'right',
        }"
>
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{title}}
  </button>
  <ul class="dropdown-menu">
    @for (item of items; track $index) {
      <li><a class="dropdown-item" href={{item.value}}> {{item.label}}</a></li>
    }
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
