.nutrition-box {
  background: var(--color-bg-form);
  border: 1px solid var(--color-bg-form);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  margin-top: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

h3 {
  margin: 0;
  font-size: 1.3rem;
  color: var(--color-ai);
  font-weight: 600;
}

h3 small {
  color: var(--color-text-muted);
  font-size: 0.8em;
  font-weight: normal;
}

.badge {
  background: var(--color-ai);
  color: var(--color-bg);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 600;
}

.calories-display {
  text-align: center;
  margin-bottom: 1.5rem;

  .number {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-ai);
  }

  .unit {
    font-size: 1rem;
    color: var(--color-text-muted);
    margin-left: 4px;
  }
}

.macros-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.macro-item {
  .label {
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 4px;
  }

  .progress-bar-bg {
    background: var(--color-bg);
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
  }

  .progress-bar {
    height: 100%;
    border-radius: 4px;
    background-color: var(--color-ai);
  }

  /*arancione
  .carbs {
    background-color: #f59e0b;
  }

  //blu
  .protein {
    background-color: #3b82f6;
  }

  //rosso
  .fats {
    background-color: #ef4444;
  }*/

}

.disclaimer {
  font-size: 0.75rem;
  color: var(--color-text-muted);
  margin-top: 1.5rem;
  text-align: center;
  font-style: italic;
}
