* {
  margin-left: 10px;
  margin-right: 10px;
}
p {
  background-image: url('/assets/images/pizze7.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#loading {
  margin-left: 15px;
}
p {
  color: blue;
}
