body {
  background-color: var(--color-bg);
}
.custom-card {
  margin-top: 3%;
  margin-bottom: 3%;
  max-width: 800px;
  background-color: var(--color-bg-form);
  border: 3px solid var(--color-accent);
  border-radius: 3rem;
  box-shadow: 0 0 20px 10px blue;
}


h1, h2 {
  color: var(--color-accent);
  font-weight: 700;
}

.custom-input input {
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
}

.custom-input input:focus {
  color: darkolivegreen;
  box-shadow: 0 0 0 0.2rem rgba(13,110,253,0.25);
}

input.ng-invalid:focus,
select.ng-invalid:focus,
textarea.ng-invalid:focus {
  transform: scale(1.1);
}
app-submit-button {
  --btn-font-size: 1.3rem;
  display: block;
  width: 50%;
  margin-inline: 25%;
}

